In [6]:
def days_diff(day1: int, day2: int):
    result = abs(day1-day2)
    return None

In [7]:
days_diff(5 , 100)

#### days_diff함수의 반환값을 None으로 변경하시오

In [10]:
def myavg(num1: int, num2: int, num3: int):
    result = (num1+num2+num3) / 3
    return round(result,2)

In [11]:
myavg(20, 30, 33)

27.67

In [12]:
def suqare(num: int):
    return num ** 2

In [13]:
suqare(3)

9

* suqare      -> 함수명
* num         -> 매개변수 (Parameter)
* suqare(3)   -> 함수호출 방법
* 3           -> 인자 (Argument)

In [14]:
'NH' + str(3) #str()은 type 변환 함수 -> caster -> casting

'NH3'

In [15]:
#문자 -> 숫자
int('0')

0

In [16]:
int('123')

123

In [17]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [18]:
'Apple' * 5

'AppleAppleAppleAppleApple'

In [19]:
'-' * 30

'------------------------------'

In [20]:
value = "Soyeong's phone"

In [21]:
value

"Soyeong's phone"

In [22]:
value = 'Soyeong\'s phone'

In [23]:
value

"Soyeong's phone"

In [24]:
numbers = '''one
twe
three
'''

In [25]:
print(numbers)

one
twe
three

In [26]:
numbers

'one\ntwe\nthree\n'

In [27]:
print(1,2,3,4,5)

1 2 3 4 5

In [28]:
print(1, "two", '셋')

1 two 셋

In [29]:
num1 = input()

entered data

In [30]:
print(num1)

entered data

In [44]:
x = 3
y = 12.5

In [49]:
print("The", "rabbit", "is", x)

The rabbit is 3

In [48]:
The rabbit is x

SyntaxError: invalid syntax (<ipython-input-48-7fcfd2e86e1a>, line 1)

In [34]:
The rabbit is 'x'

SyntaxError: invalid syntax (<ipython-input-34-3ef7b29de0e7>, line 1)

In [35]:
print 'The rabbit is x'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('The rabbit is x')? (<ipython-input-35-b321946644e8>, line 1)

In [39]:
 first = 'John'

In [40]:
last = 'Doe'

In [41]:
print(last + ',' + first)

Doe,John

In [50]:
def repeat(s:str, n: int) -> str:
    return s * n

In [51]:
repeat("yes", 4)

'yesyesyesyes'

In [52]:
repeat(4, "no")

'nononono'

(full or empty) and not (full and empty)

In [53]:
def different(a, b):
    return a != b

In [55]:
population = 150000000
 if population < 10000000:
        print(population)

IndentationError: unexpected indent (<ipython-input-55-1cafe3e7d64a>, line 2)

In [59]:
ph = 2

In [57]:
if ph < 7.0:
    print(ph, '은(는)산성입니다.')
elif ph < 3.0:
    print(ph, '은(는) 강산성입니다! 조심하세요.')

2 은(는)산성입니다.

In [61]:
if ph < 3.0:
    print(ph, '은(는) 강산성입니다! 조심하세요.')
elif ph < 7.0:
    print(ph, '은(는)산성입니다.')

2 은(는) 강산성입니다! 조심하세요.

In [62]:
import math

In [64]:
math.sqrt(9)

3.0

In [65]:
from math import sqrt

In [ ]:
sqrt(9)

In [ ]:
print(__name__)

In [ ]:
if __name__ == "__main__":
    print("Main program")
else:
    print("Imported program")

In [ ]:
number = random.randint(1,100)

In [ ]:
print(number)

In [ ]:
while True:
    guess = int(input('숫자를 입력하세요 :'))
    if guess == number:
        print('정답입니다')
        break
    elif guess > number:
        print('보다 작은 수를 입력')
    else:
        print('보다 큰 수를 입력')

In [79]:
import random

In [80]:
num = random.randint(1, 100)
n = 0
a = int(input('1~100까지의 숫자를 입력하세요:'))

1~100까지의 숫자를 입력하세요:50

In [81]:
while True: 
    n += 1 
    if a > num:
        print('{}보다 작은 수를 입력'.format(a))
        a = int(input('1~100까지의 숫자를 입력하세요:'))
    elif a < num:
        print('{}보다 큰 수를 입력!'.format(a))
        a = int(input('1~100까지의 숫자를 입력하세요:'))
    else: 
        print('정답입니다!') 
        
        if n < 6: 
            print('{}번 천재!'.format(n)) 
        elif 6 <= n <= 10:  
            print('{}번 보통'.format(n))  
        else: 
            print('{}번 바보'.format(n))
        break

50보다 큰 수를 입력!
1~100까지의 숫자를 입력하세요:60
60보다 큰 수를 입력!
1~100까지의 숫자를 입력하세요:70
70보다 작은 수를 입력
1~100까지의 숫자를 입력하세요:80
80보다 작은 수를 입력
1~100까지의 숫자를 입력하세요:65
65보다 작은 수를 입력
1~100까지의 숫자를 입력하세요:64
64보다 작은 수를 입력
1~100까지의 숫자를 입력하세요:63
63보다 작은 수를 입력
1~100까지의 숫자를 입력하세요:62
62보다 작은 수를 입력
1~100까지의 숫자를 입력하세요:61
정답입니다!
9번 보통

In [84]:
'species' .endswith('a')

False

In [89]:
compound = '    \n  Methy1  \n  butano1  \n    '

In [91]:
compound.lstrip()

'Methy1  \n  butano1  \n    '

In [94]:
data = "Hello, {0}, {1}, {2}"

In [95]:
data.format('Python', 'Java', 'Nodejs')

'Hello, Python, Java, Nodejs'

In [97]:
str.count('tomato','o')

2

In [98]:
str.find('tomato','o')

1

In [100]:
def total_occurrences(s1: str, s2: str, ch: str) -> int:
    if (len(ch) == 1):
        return s1.count(ch) + s2.count(ch)
    else:
        return 0

In [101]:
total_occurrences('color', 'yellow', 'l')

3

In [102]:
total_occurrences('red','blue','l')

1

In [103]:
total_occurrences('green','purple','b')

0