## 맵리듀스 1월 6일 강의

In [1]:
f = lambda x : x**2  ##제곱 함수 생성

In [2]:
ex = [1,2,3,4,5] ##ex란 llist생성

In [4]:
for e in ex:
    print(f(e))   ##1. 맵리듀스를 사용하지 않고 For loop를 이용하는 방법

1
4
9
16
25

In [5]:
result = map(f,ex)    ##2. map() 함수를 이용하여 처리

In [6]:
print(result)

<map object at 0x00000249E767E610>

In [7]:
print(list(result))

[1, 4, 9, 16, 25]

In [8]:
result2 = [e**2 for e in ex] ##3. 리스트 컴프리헨션을 이용한 방법

In [9]:
print(result2)

[1, 4, 9, 16, 25]

In [10]:
## filtering

In [11]:
def func1(x: int) -> int:
    #x가 짝수이면, 제곱
    #x가 홀수이면, x
    if x % 2 == 0:
        return x ** 2
    else:
        return x

In [12]:
func1(6)

36

In [13]:
func1(5)

5

In [14]:
ex = [1,2,3,4,5]

In [15]:
for e in ex:
    print(func1(e))

1
4
3
16
5

In [ ]:
#위의 함수를 람다식으로 바꾸자

In [16]:
f = lambda x: x ** 2 if x % 2 == 0 else x

In [17]:
f(6)

36

In [18]:
f(5)

5

In [19]:
for e in ex:
    print(f(e))

1
4
3
16
5

In [20]:
#이제 맵함수로 테스트 해보자

In [22]:
print(list(map(f, ex)))

[1, 4, 3, 16, 5]

In [23]:
result = [ x ** 2 if x % 2 == 0 else x for x in ex] #ex란 컬렉션에서 하나씩 뽑아온 걸 x작업을 해줌

In [24]:
print(result)

[1, 4, 3, 16, 5]

Quiz, 구구단을 출력하는 프로그램을 Lambda 함수로 작성

In [33]:
output = lambda x, y : "{0} x {1} = {2}".format(x, y, x*y)
    for x in range(2, 10):
    for y in range(1, 10):
#        print(x, "x", y, "=", x*y)  #<-이 식을 맨 윗줄과 맨 마지막 줄의 Lambda식으로 변환
         print(lambda(output(x,y)))

SyntaxError: invalid syntax (<ipython-input-33-0685ec24c1da>, line 1)

In [28]:
from functools import reduce   #ppt reduce함수

In [32]:
result3 = reduce(lambda x, y : x + y, ex)
print(result3)

15

자료형 딕셔너리 pdf퀴즈 9, 10번

In [35]:
number = {'서울':'02', '대전':'042', '부산':'051', '광주':'062', '제주':'064'}

In [37]:
t_list = list(number)

In [38]:
print(t_list)

['서울', '대전', '부산', '광주', '제주']

In [39]:
t_list = list(number.items())

In [40]:
print(t_list)

[('서울', '02'), ('대전', '042'), ('부산', '051'), ('광주', '062'), ('제주', '064')]

In [41]:
v_list = list(number.values())

In [42]:
print(v_list)

['02', '042', '051', '062', '064']

In [43]:
print(number['부산'])

051

In [44]:
is_exists = '천안' in number    #천안 존재하는지?

In [45]:
print(is_exists)

False

## 2-4의 2번

In [46]:
num = 1
total = 0
while num <= 1000:
    if num % 3 == 0:
        total += num  #totla = totla + num
        
        
    num += 1 #num = num + 1

In [47]:
print(total)

166833

##2-5의 2번(for를 사용한 방법) -> lambda+map으로 풀어보기

In [49]:
studentInfo = {
 'a':33, 'b':55, 'c':67, 'd':82, 'e':45,
 'f':33, 'g':90, 'h':87, 'i': 100, 'j':25
}

In [57]:
total = 0

data = list(studentInfo.values())
for i in range(len(data)):
    _temp = data[i]
    if _temp >= 80:
        total += _temp
        
print(total)

359

2-5의 2번을 lambda / map으로 풀어보기

In [61]:
f = lambda x, total : total + x if x >= 80 else total #lambda이용

In [62]:
total = 0
for i in range(len(data)):
    total = f(data[i], total)

In [64]:
print(total)   #lambda만 이용

359

In [65]:
result = list(map (lambda x : x if x >=80 else 0, data))  ##map, reduce이용

In [66]:
print(result)

[0, 0, 0, 82, 0, 0, 90, 87, 100, 0]

In [67]:
from functools import reduce

In [69]:
total = reduce(lambda x, y: x + y, result)
print(total)

359

##2-7번의 2번

In [50]:
i = 1
space = 0

while i <= 5:
    space = 5 -i #4,3,2,1,0
    print(' ' * space, '*' * i)
    i += 1

     *
    **
   ***
  ****
 *****

##2-8의 1번

In [ ]:
count = 0
for i in range(1, 101):   #1~100
    s = str(i)
    if '3' in s:
        count += 1
        print(s)

In [52]:
print("개수:", count)

개수: 19

##2-9의 1번

In [59]:
myList = [10, 20, 30, 40, 50, 60, 70]

for i in range(len(myList), 0, -1):
    if myList[i - 1] % 3 == 0:
        myList.pop(i - 1)  #pop->사용하고 삭제

In [60]:
print(myList)

[10, 20, 40, 50, 70]