### table 생성

In [1]:
# 1. module 가져오기
import sqlite3  #아나콘다에 포함되어 있는 모듈 cmd에서는 conda list로 있는지 확인 후 없으면 install

In [4]:
# 2. 데이터베이스 연결(connection)
conn = sqlite3.connect('example.db') #실행하고 있는 폴더에 example.db라는 파일 생겼음

In [5]:
# 3. 커서 획득
# SQL (Structured Query Language)
#   - DDL(Data Definition Language) - 정의어 -> CREATE, DROP, ALTER
#   - DCL(Data Manipulation Language) - 조작어 -> SECLECT, INSERT, UPDATE, DELETE
#   - DCL (Data Control Language) - 제어어 -> GRANT, REMOVE
cursor = conn.cursor()

In [10]:
sql = '''
CREATE TABLE member(
num INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT,
email TEXT,
c_date TEXT
)
'''

In [11]:
# execute의 반환값은 SQL의 종류에 따라 다름
cursor.execute(sql)

In [12]:
conn.commit()

In [13]:
cursor.close()
conn.close()

### Insert data 1

In [22]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()   #대문자는 원래 sql  소문자는 우리가 입력할 것

In [23]:
sql = '''INSERT INTO member(num, name, email, c_date)
values(null, 'Administrator', 'admin@test.com', datetime('now', 'localtime')) 
'''

In [24]:
cursor.execute(sql)

In [25]:
conn.commit()
cursor.close()
conn.close()

### Insert data 2

In [55]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [58]:
sql = '''INSERT INTO member(num, name, email, c_date)
values(null, ?, ?, datetime('now', 'localtime')) 
'''

In [59]:
cursor.execute(sql, ('User2','user2@test.com'))

In [60]:
conn.commit()
cursor.close()
conn.close()

### Select 1 데이터베이의 정보 조회

In [70]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [71]:
#DML
#CRUD (Create, Read, Update, Delete) -> Insert, Select, Update, Delete
sql1 = 'SELECT num, name, email, c_date FROM member'   #우리가 만든건 소문자

In [72]:
cursor.execute(sql1)

In [73]:
# fetch 함수를 이용해서, 테이블셋 가져오기
# fetchall(), fetchmany(), fetchone() -> 전체 데이터 , 결과 여러개?, 결과가 하나일 때 가져오기
rows = cursor.fetchall()

In [116]:
for row in rows:
    print('No:{0}, Name:{1}, Email:{2}, Created date:{3}'.format(row[0], row[1],row[2], row[3]))

No:1, Name:Adminstrator, Email:admin@test.com, Created date:2021-01-08 11:20:54
No:2, Name:Administrator, Email:admin@test.com, Created date:2021-01-08 11:24:36
No:3, Name:User1, Email:user@test.com, Created date:2021-01-08 11:25:35
No:4, Name:User2, Email:user2@test.com, Created date:2021-01-08 13:23:22

In [75]:
cursor.close()
conn.close()

### Select 2

In [117]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [77]:
sql2 = 'SELECT num, name, email, c_date FROM member WHERE email= \'admin@test.com\'' #email데이터 하나만 검색
cursor.execute(sql2)
row = cursor.fetchone()
print('No:{0}, Name:{1}, Email:{2}, Created date:{3}'.format(row[0], row[1],row[2], row[3]))

No:1, Name:Adminstrator, Email:admin@test.com, Created date:2021-01-08 11:20:54

In [78]:
sql2 = 'SELECT num, name, email, c_date FROM member WHERE email =\'admin_fake@test.com\''
cursor.execute(sql2)
row = cursor.fetchone()
if row != None:
    print('No:{0}, Name:{1}, Email:{2}, Created date:{3}'.format(row[0], row[1],row[2], row[3]))
else:
    print('데이터가 존재하지 않습니다.')

데이터가 존재하지 않습니다.

### Select 3

In [118]:
sql2 = 'SELECT num, name, email, c_date FROM member WHERE num > 0'
cursor.execute(sql2)
while True:
    row = cursor.fetchone()
    if row == None:
        break
    print('No:{0}, Name:{1}, Email:{2}, Created date:{3}'.format(row[0], row[1],row[2], row[3]))

No:3, Name:User1, Email:user@test.com, Created date:2021-01-08 11:25:35

In [108]:
cursor.close()
conn.close()

### Update

In [110]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [95]:
sql = 'UPDATE member SET email=? WHERE num=?'

In [96]:
cursor.execute(sql1, ('user1@test.com', 3))

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 0, and there are 2 supplied.

In [89]:
sql2 = 'SELECT num, name, eamil FROM member WHERE num=?'

In [97]:
cursor.execute(sql2, (2.))
row = cousor

OperationalError: no such column: eamil

In [90]:
cursor.close()
conn.close()

### Delete

In [100]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [101]:
sql = 'DELETE FROM member WHERE email=?'
cursor.execute(sql, ('user@example.com', ))

In [102]:
conn.commit()
cursor.close()
conn.close()

### Delete 2

In [123]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [124]:
# sql = 'DELETE FROM member WHERE email in (admin@test.com, user2@test.com)'
# sql = 'DELETE FROM member WHERE email in(?,?)'
# cursor.execute(sql,('user2@test.com', 'admin@test.com'))

sql = 'DELETE FROM member WHERE email in(?)'
cursor.execute(sql,('user@test.com'))

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 13 supplied.

In [114]:
conn.commit()
cursor.close()
conn.close()